<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form method="POST" action="${contextPath}/login" class="form-signin">
        <h2 class="form-heading">Log in</h2>

        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username" value="hrq"/> </label></div>
            <div><label> Password: <input type="password" name="password" value="123456"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</body>
</html>